POSTGRES_DB=evionshop
POSTGRES_USER=evion
POSTGRES_PASSWORD=evionpass
POSTGRES_PORT=5432

STRAPI_PORT=1337
CMS_APP_KEYS=toChange1,toChange2,toChange3,toChange4
CMS_API_TOKEN_SALT=toChangeTokenSalt
CMS_ADMIN_JWT_SECRET=toChangeAdminSecret
CMS_TRANSFER_TOKEN_SALT=toChangeTransferSalt
CMS_JWT_SECRET=toChangeJwtSecret
CMS_ENCRYPTION_KEY=toChangeEncryptionKey
